<!DOCTYPE html>
        <html lang="en" dir="ltr">
        <head>
        <meta charset="utf-8">
        <title>User History</title>
        <link rel="stylesheet" href="{{ url_for('static',filename='table.css') }}">
        
        </head>
        <body>
    <div class="main">
      <div class="butn">
        <button onclick="window.location.href = '/generate'">Generate</button>
      <button onclick="window.location.href = '/signout'">Sign Out</button>
      </div>
      <div class="tcover">
      <div class="table">
        <h1>Your History</h1><style type="text/css">
#T_54b37_ body {
  background-color: black;
  color: white;
}
</style>
<table id="T_54b37_">
  <thead>
    <tr>
      <th class="blank level0" >&nbsp;</th>
      <th class="col_heading level0 col0" >short</th>
      <th class="col_heading level0 col1" >urls</th>
      <th class="col_heading level0 col2" >Action</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th id="T_54b37_level0_row0" class="row_heading level0 row0" >1</th>
      <td id="T_54b37_row0_col0" class="data row0 col0" >g8o5</td>
      <td id="T_54b37_row0_col1" class="data row0 col1" >https://www.codegrepper.com/code-examples/python/python+pandas+write+csv+file+without+index</td>
      <td id="T_54b37_row0_col2" class="data row0 col2" ><button type="button" class="buttom"name="button" onclick="window.location.href = '/delete/11'">Delete</button></td>
    </tr>
    <tr>
      <th id="T_54b37_level0_row1" class="row_heading level0 row1" >2</th>
      <td id="T_54b37_row1_col0" class="data row1 col0" >d0l5</td>
      <td id="T_54b37_row1_col1" class="data row1 col1" >https://www.codegrepper.com/code-examples/python/python+pandas+write+csv+file+without+index</td>
      <td id="T_54b37_row1_col2" class="data row1 col2" ><button type="button" class="buttom"name="button" onclick="window.location.href = '/delete/14'">Delete</button></td>
    </tr>
    <tr>
      <th id="T_54b37_level0_row2" class="row_heading level0 row2" >3</th>
      <td id="T_54b37_row2_col0" class="data row2 col0" >b5p7</td>
      <td id="T_54b37_row2_col1" class="data row2 col1" >https://tastybones.xyz/</td>
      <td id="T_54b37_row2_col2" class="data row2 col2" ><button type="button" class="buttom"name="button" onclick="window.location.href = '/delete/16'">Delete</button></td>
    </tr>
    <tr>
      <th id="T_54b37_level0_row3" class="row_heading level0 row3" >4</th>
      <td id="T_54b37_row3_col0" class="data row3 col0" >x7a5</td>
      <td id="T_54b37_row3_col1" class="data row3 col1" >https://www.codegrepper.com/code-examples/python/python+pandas+write+csv+file+without+index</td>
      <td id="T_54b37_row3_col2" class="data row3 col2" ><button type="button" class="buttom"name="button" onclick="window.location.href = '/delete/18'">Delete</button></td>
    </tr>
    <tr>
      <th id="T_54b37_level0_row4" class="row_heading level0 row4" >5</th>
      <td id="T_54b37_row4_col0" class="data row4 col0" >n8r9</td>
      <td id="T_54b37_row4_col1" class="data row4 col1" >https://pagespeed.web.dev/</td>
      <td id="T_54b37_row4_col2" class="data row4 col2" ><button type="button" class="buttom"name="button" onclick="window.location.href = '/delete/19'">Delete</button></td>
    </tr>
    <tr>
      <th id="T_54b37_level0_row5" class="row_heading level0 row5" >6</th>
      <td id="T_54b37_row5_col0" class="data row5 col0" >youtube</td>
      <td id="T_54b37_row5_col1" class="data row5 col1" >https://www.youtube.com/watch?v=K2zpY5LIIp0</td>
      <td id="T_54b37_row5_col2" class="data row5 col2" ><button type="button" class="buttom"name="button" onclick="window.location.href = '/delete/20'">Delete</button></td>
    </tr>
    <tr>
      <th id="T_54b37_level0_row6" class="row_heading level0 row6" >7</th>
      <td id="T_54b37_row6_col0" class="data row6 col0" >y5d0</td>
      <td id="T_54b37_row6_col1" class="data row6 col1" >https://tastybones.xyz/</td>
      <td id="T_54b37_row6_col2" class="data row6 col2" ><button type="button" class="buttom"name="button" onclick="window.location.href = '/delete/21'">Delete</button></td>
    </tr>
  </tbody>
</table>
</div>
    </div>
  </div>
  </body>
</html>